.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.dialog-header {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.close-icon {
  transition: transform 0.3s ease-in-out;
}

.close-button:hover {
  transform: rotate(90deg); /* Rotation animation */
}

.MuiDialog-paper {
  backdrop-filter: blur(10px); /* Blur background */
}

.dialog-scrollbar {
  max-height: 500px; /* Fixed height for the scrollable area */
}
.dialog-scrollbar-home{
  /* max-height: 100vh; */
}
.dialog-content {
  padding: 20px;
}
